.todos{
    margin: 0 auto;
    margin-top: -1rem;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.todos h2{
    text-align: center;
}

.todos div{
    border: 1px solid #ccc;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos input[type=checkbox]{
    transform: scale(2);
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:checked + label{
        color: #ccc;
        text-decoration: line-through;
    }
}

.todos label{
    font-weight: bold;
}

.highlight{
    font-style: italic;
}

.delete-btn{
    background: rgb(139, 26, 26);
    border: 1px solid rgb(231, 78, 78);
    transition: background 0.5s, border-radius 0.5s;

    &:hover,
    &:active{
        background: rgb(231, 78, 78);
        border-radius: 5px;
    }
}