.timer{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer > div{
    margin: 2rem 0;
}

.timer > div > a{
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 2rem;
    color: #000;
}

.timer span{
    margin: 2rem 0;
    font-size: 5rem;
}

.timer-btn{
    
}