.setting-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.setting{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}

.setting-header {
    background: #4f005f;
    padding: 1rem;
    text-align: center;
}

.setting-header h2 {
    margin: 0;
    color: white;
}

.setting-action {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.apply-btn{
    background: #4f005f;
    border: 1px solid #710686;
    transition: background 0.5s, border-radius 0.5s;

    &:hover,
    &:active{
        background: #710686;
        border-radius: 5px;
    }
}

.setting-options{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .setting {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}

@media only screen and (max-width: 520px)
{
    .setting-options{
        flex-direction: column;
        align-items: center;
    }

    .setting-options > div{
        margin-top: 2rem;
    }

    .setting-options > div > input{
        width: 40%;
    }
};