.add-todo{
    margin: 0 auto;
    width: 12%;
    max-width: 40rem;
    display: flex;
}

.task-number{
    margin: 2rem auto;
    padding: 1rem;
    width: 12%;
    text-align: center;
}

.attask-list{
    margin: 0 auto;
    max-width: 38rem;
    text-align: center;
}

.attask-list h2{
    margin-bottom: 1rem;
}
