.form-input{
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 38rem;
    text-align: left;
}

.form-input label{
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
}

.form-input input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    &:focus{
        outline: none;
        border-color: #4f005f;
    }
}

.form-input select{
    margin-bottom: 1rem;
    margin-right: 0.1rem;
    width: 50%;
    margin-top: 0.5rem;
    padding: 0.15rem;
    border: 1px solid #ccc;
    cursor: pointer;

    &:focus{
        outline: none;
        border-color: #4f005f;
    }
}

.form-input div{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 520px)
{
    .form-input select{
        display: block;
    }
};