.add-todo{
    margin: 0 auto;
    width: 90%;
    max-width: 38rem;
    display: flex;
    border: 3px dashed #ccc;
    border-radius: 5px;
}

.attask-list{
    margin: 0 auto;
    max-width: 38rem;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.attask-list h2{
    margin-bottom: 1rem;
}

#attask{
    padding-bottom: 3rem;
}