#nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 38rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

#nav > ul > li{
    list-style: none;
}

#nav > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.icon{
    font-size: 1.5rem;
}
