.button{
    background: #4f005f;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    border: 1px solid #4f005f;
    transition: border-radius 0.5s, background 0.5s, border-color 0.5s;

    &:hover,
    &:active{
        background: #741188;
        border-color: #741188;
        border-radius: 5px;
    }

    &:focus{
        outline: none;
    }
}
